@model WebStore.Domain.ViewModels.CatalogViewModel

@{
    ViewData["Title"] = "Каталог товаров";
}

<partial name="Partial/_Advertisement" />

<section>
    <div class="container">
        <vc:bread-crumbs/>
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_Left-sidebar" />
            </div>

            <partial name="Partial/_Features_items" model="Model.Products" />
        </div>
    </div>
</section>
